@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
}
body {
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 621px;
	height: 300px;
	background: rgb(255, 255, 255);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 9px;
	overflow: hidden;
	border: 2px solid black;
	margin: auto;
}

.title {
	color: #000;
	position: absolute;
	left: 34px;
	top: 32px;
	font-size: 32px;
	font-weight: 600;
	line-height: 31.72px;
	word-wrap: break-word;
}


.input-customer-name label {
	color: #000;
	position: absolute;
	left: 34px;
	top: 124px;
	font-size: 17px;
	font-weight: 400;
	line-height: 18.86px;
	word-wrap: break-word;
}

.input-customer-name input {
	position: absolute;
	width: 385px;
	height: 33px;
	left: 200px;
	top: 117px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 17px;
}

.input-order-date label {
	color: #000;
	position: absolute;
	left: 35px;
	top: 168px;
	font-size: 17px;
	font-weight: 400;
	line-height: 18.86px;
	word-wrap: break-word;
}

input[type="date"] {
	position: absolute;
	width: 385px;
	height: 33px;
	left: 200px;
	top: 161px;
	padding-left: 10px;
	border: 1px solid black;
	border-radius: 5px;
	font-family: Poppins, sans-serif;
	font-size: 17px;
	color: #4c4c4c;
}


.home-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}


.cancel-button {
	position: absolute;
	width: 132px;
	height: 45px;
	left: 253px;
	top: 220px;
	border-radius: 11px;
	border: 1px solid #e33629;
	background: transparent;
	cursor: pointer;
	color: #e33629;
	font-size: 19.03px;
	font-family: Poppins;
	font-weight: 600;
	line-height: 25.86px;
	word-wrap: break-word;
	text-align: center;
	padding: 8px;
	text-decoration: none;
}

.confirm-button {
	width: 189px;
	height: 45px;
	left: 400px;
	top: 220PX;
	position: absolute;
	background-color: #0084ff;
	border: none;
	border-radius: 11px;
	cursor: pointer;
	color: white;
	font-weight: 600;
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	text-align: center;
	font-family: Poppins;
	font-size: 19.026px;
	line-height: 25.857px;
}
